* {
    box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.app {
    height: 100%;
    width: 100%;

    position: relative;
    display: flex;
    
}

.info {
    position: relative;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    padding: 30px;
    width: 400px;
    z-index: 3;
}

.logo > img {
    width: 200px;
}

.logo > .name {
    font-family: 'Bungee-Regular';
    font-size: 40px;
    color: #1f1f1f;
}

.logo > .additional  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 20px;
    color: #1f1f1f;

    position: absolute;
    left: 140px;
    bottom: 7px;
}

.logo > .additional > .organization-name {
    font-family: 'Modak-Regular';
    font-weight: 100;
    font-size: 30px;
    color: #ff6f00;
    text-shadow: 2px 2px #3e3e3e;
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 100%;
    padding: 10px;
    background-color: rgb(84, 84, 84);

    color: white;
    margin-left: auto;
}

.login-bt {
    background-color: #1bcf00;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 auto;
    color: white;
    font-weight: bold;
}

.controls {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bg {
  height: 100%;
  background: linear-gradient(
    270deg,
    #6366f1,
    #22d3ee,
    #a855f7,
    #f43f5e
  );
  background-size: 800% 800%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}