* {
    box-sizing: border-box;
}

html, body {
  height: 100vh;
  width: 100vw;
  margin: 0;
}

.app {
    height: 100%;
    width: 100%;

    position: relative;
    display: flex;
    
}

.info {
    position: relative;
    flex-grow: 1;

    display: flex;
    justify-content: center;
    align-items: center;
}

.login-bt {
    background-color: #1bcf00;
    box-shadow: none;
    outline: none;
    border: none;
    padding: 10px;
    border-radius: 5px;
    margin: 10px 0 auto;
    color: white;
    font-weight: bold;
}

.controls {
    width: 100%;

    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.bg {
  height: 100%;
  background: linear-gradient(
    270deg,
    #6366f1,
    #22d3ee,
    #a855f7,
    #f43f5e
  );
  background-size: 800% 800%;
  animation: gradient 30s ease infinite;
}

@keyframes gradient {
  0%   { background-position: 0% 50%; }
  50%  { background-position: 100% 50%; }
  100% { background-position: 0% 50%; }
}

.sidebar {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    width: 300px;
    height: 100%;
    padding: 10px;
    background-color: rgb(84, 84, 84);

    color: white;
    margin-left: auto;
}

.sidebar form {
    width: calc(100% - 20px);
    max-width: calc(100% - 20px);
}

.sidebar table {
    width: 100%;
    border-collapse: collapse;
}

.sidebar table th {
    text-align: right;
}

.sidebar table th:first-child {
    width: auto;
    white-space: nowrap;
}

.sidebar table th:last-child {
    width: 100%;
}

.sidebar input {
    width: 100%;
    max-width: 100%;
    box-sizing: border-box;
}

/* Logo styles */

.logo {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    position: relative;
    
    z-index: 3;
    
    font-size: 16px;
    padding: 2em;
}

.logo > img {
    width: 50%;
}

.logo > .name {
    font-family: 'Bungee-Regular';
    font-size: 3em;
    color: #1f1f1f;
}

.logo > .additional  {
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-style: italic;
    font-weight: bold;
    font-size: 1.5em;
    color: #1f1f1f;

    position: absolute;
    right: 0;
    bottom: -5%;
}

.logo > .additional > .organization-name {
    font-family: 'Modak-Regular';
    font-weight: 100;
    font-size: 2em;
    color: #ff6f00;
    text-shadow: 2px 2px #3e3e3e;
}

@media (max-width: 1200px) {
    .logo {
        font-size: 12px;
    }

    .sidebar {
        width: 200px;
        padding: 5px;
        font-size: 12px;
    }

    .login-bt {
        font-size: 12px;
        padding: 5px;
    }
}

@media (max-width: 900px) {
    .logo {
        font-size: 10px;
    }

    .logo > .additional {
        right: 8%;    
    }
    
    .login-bt {
        font-size: 12px;
        padding: 5px;
    }
}

@media (max-width: 700px) {
    .logo {
        font-size: 8px;
    }

    .logo > .additional {
        right: 15%;    
    }
}