@font-face {
  font-family: 'AlfaSlabOne-Regular';
  src: url('../fonts/AlfaSlabOne-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Bungee-Regular';
  src: url('../fonts/Bungee-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: 'Modak-Regular';
  src: url('../fonts/Modak-Regular.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}