name: Deploy auth-service (self-hosted)

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: self-hosted

    steps:
      - name: Check Runner setting
        run: whoami; node -v; pnpm -v;
        
      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pnpm install

      - name: Start service
        run: pnpm run dev