name: Deploy auth-service (self-hosted)

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: self-hosted
    environment: prod 

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 24.13

      - name: Enable pnpm
        run: corepack enable   

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Check Runner setting
        run: whoami; node -v; pnpm -v;

      - name: Install dependencies
        run: pnpm install

      - name: Create .env file
        run: |
          cat <<EOF > .env
          PORT=${{ secrets.PORT }}
          DB_PGS_USER=${{ secrets.DB_PGS_USER }}
          DB_PGS_PASSWORD=${{ secrets.DB_PGS_PASSWORD }}
          DB_PGS_HOST=${{ secrets.DB_PGS_HOST }}
          DB_PGS_PORT=${{ secrets.DB_PGS_PORT }}
          DB_PGS_NAME=${{ secrets.DB_PGS_NAME }}
          DB_REDIS_USER=${{ secrets.DB_REDIS_USER }}
          DB_REDIS_PASSWORD=${{ secrets.DB_REDIS_PASSWORD }}
          DB_REDIS_HOST=${{ secrets.DB_REDIS_HOST }}
          DB_REDIS_PORT=${{ secrets.DB_REDIS_PORT }}
          JWT_ACCESS_SECRET=${{ secrets.JWT_ACCESS_SECRET }}
          JWT_REFRESH_SECRET=${{ secrets.JWT_REFRESH_SECRET }}
          EOF

      - name: Update DB schema
        run: |
          export PGPASSWORD="${{ secrets.DB_PGS_PASSWORD }}"
          psql \
            -h "${{ secrets.DB_PGS_HOST }}" \
            -p "${{ secrets.DB_PGS_PORT }}" \
            -U "${{ secrets.DB_PGS_USER }}" \
            -d "${{ secrets.DB_PGS_NAME }}" \
            -f "./.db/update_schema.sql"

