name: Deploy auth-service (self-hosted)

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: self-hosted
    environment: prod 

    steps:
      - name: Check Runner setting
        run: whoami; node -v; pnpm -v;

      - name: Stop service
        run: nssm stop AuthService

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Install dependencies
        run: pnpm install

      - name: Create .env file
        run: |
          $envContent = @"
            PORT=${{ secrets.PORT }}
            DB_USER=${{ secrets.DB_USER }}
            DB_PASSWORD=${{ secrets.DB_PASSWORD }}
            DB_HOST=${{ secrets.DB_HOST }}
            DB_PORT=${{ secrets.DB_PORT }}
            DB_NAME=${{ secrets.DB_NAME }}
            JWT_ACCESS_SECRET=${{ secrets.JWT_ACCESS_SECRET }}
            JWT_REFRESH_SECRET=${{ secrets.JWT_REFRESH_SECRET }}
          "@

          Set-Content -Path ".env" -Value $envContent -Encoding utf8

      - name: Update DB schema
        run:  |
          $env:PGPASSWORD = '${{ secrets.DB_PASSWORD }}'
          psql -h ${{ secrets.DB_HOST }} `
            -p ${{ secrets.DB_PORT }} `
            -U ${{ secrets.DB_USER }} `
            -d ${{ secrets.DB_NAME }} `
            -f .\.db\update_schema.sql

      - name: Start service
        run: nssm start AuthService