name: Deploy auth-service (self-hosted)

on:
  push:
    branches:
      - prod

jobs:
  deploy:
    runs-on: self-hosted
    environment: prod 

    env:
      APP_NAME: auth
      APP_ROOT: /opt/apps/services/auth
      RELEASE_ID: ${{ github.run_id }}

    steps:
      - uses: actions/setup-node@v4
        with:
          node-version: 24.13

      - name: Enable pnpm
        run: corepack enable   

      - name: Checkout repo
        uses: actions/checkout@v4

      - name: Check Runner setting
        run: whoami; node -v; pnpm -v;

      - name: Create release dir
        run: |
          sudo mkdir -p $APP_ROOT/releases/$RELEASE_ID
          sudo chown -R $USER:$USER $APP_ROOT/releases

      - name: Copy source to release
        run: |
          rsync -a --delete --exclude=node_modules ./ $APP_ROOT/releases/$RELEASE_ID/

      - name: Install dependencies (release)
        working-directory: ${{ env.APP_ROOT }}/releases/${{ env.RELEASE_ID }}
        run: pnpm install --prod

      - name: Create .env file
        working-directory: ${{ env.APP_ROOT }}/releases/${{ env.RELEASE_ID }}
        run: |
          cat <<EOF > .env
          BASE_PATH=/auth-public/
          API_PATH=/auth-api/
          PAGE_PATH=/auth/
          PORT=${{ secrets.PORT }}
          DB_PGS_USER=${{ secrets.DB_PGS_USER }}
          DB_PGS_PASSWORD=${{ secrets.DB_PGS_PASSWORD }}
          DB_PGS_HOST=${{ secrets.DB_PGS_HOST }}
          DB_PGS_PORT=${{ secrets.DB_PGS_PORT }}
          DB_PGS_NAME=${{ secrets.DB_PGS_NAME }}
          DB_REDIS_USER=${{ secrets.DB_REDIS_USER }}
          DB_REDIS_PASSWORD=${{ secrets.DB_REDIS_PASSWORD }}
          DB_REDIS_HOST=${{ secrets.DB_REDIS_HOST }}
          DB_REDIS_PORT=${{ secrets.DB_REDIS_PORT }}
          JWT_ACCESS_SECRET=${{ secrets.JWT_ACCESS_SECRET }}
          JWT_REFRESH_SECRET=${{ secrets.JWT_REFRESH_SECRET }}
          EOF

      - name: Update DB schema
        working-directory: ${{ env.APP_ROOT }}/releases/${{ env.RELEASE_ID }}
        run: |
          export PGPASSWORD="${{ secrets.DB_PGS_PASSWORD }}"
          psql \
            -h "${{ secrets.DB_PGS_HOST }}" \
            -p "${{ secrets.DB_PGS_PORT }}" \
            -U "${{ secrets.DB_PGS_USER }}" \
            -d "${{ secrets.DB_PGS_NAME }}" \
            -f "./.db/update_schema.sql"

      - name: Add user
        working-directory: ${{ env.APP_ROOT }}/releases/${{ env.RELEASE_ID }}
        run: |
          node .db/_add_user.js --email=${{ secrets.EMAIL_USER_1 }} --password=${{ secrets.PASSWORD_USER_1 }}
          node .db/_add_user.js --email=${{ secrets.EMAIL_USER_2 }} --password=${{ secrets.PASSWORD_USER_2 }}

      - name: Switch current release
        run: |
          sudo ln -sfn \
            $APP_ROOT/releases/$RELEASE_ID \
            $APP_ROOT/current

      - name: Start service
        run:  sudo systemctl restart auth-service | sudo systemctl start auth-service

      - name: Cleanup old releases
        run: |
          cd $APP_ROOT/releases
          ls -dt */ | tail -n +6 | xargs sudo rm -rf

      - name: Cleanup runner workspace
        if: always()
        run: |
          echo "Cleaning runner workspace..."
          git reset --hard
          git clean -fdx